.container {
  height: 100vh;
  width: 100vw;
  background: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  overflow-y: auto;
}

.logoImg {
  width: 200px;
}

.heading {
  padding-top: 50px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #1976d2;
}
